:root {
  --white: #f5f5f5;
  --dark: #333333;
  --green: #317b22;
  --red: #b80c09;
  --red-lite: hsl(1, 91%, 58%);
  --blue: #05668d;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: var(--white);
  color: var(--dark);
  font-family: sans-serif;
}
/* Layout */
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 2rem;
}
.info,
.table-content,
.budget-form-container,
.expense-form-container {
  width: 100%;
  margin-bottom: 2rem;
}
@media (min-width: 1024px) {
  .container {
    flex-wrap: wrap;
    flex-direction: row;
  }
  .info,
  .table,
  .budget-form-container,
  .expense-form-container {
    margin-bottom: 0;
  }
  .info,
  .table-content {
    width: 65%;
  }
  .budget-form-container,
  .expense-form-container {
    width: calc(35% - 2rem);
    margin-right: 2rem;
  }
  .expense-form-container,
  .table-content {
    margin-top: 2rem;
  }
}
/* title */
.title {
  margin: 2rem;
}
/* info */
.info {
  display: flex;
  justify-content: space-between;
  height: 100px;
  overflow-x: auto;
}
.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.item h6 {
  font-size: 0.8rem;
  padding: 0;
  text-transform: uppercase;
}
.item p {
  font-size: 1rem;
  padding: 0;
  font-weight: 600;
}
.budget {
  color: var(--green);
}
.expense {
  color: var(--red);
}
.balance {
  color: var(--dark);
}
.budget-icon,
.expense-icon,
.balance-icon {
  width: 40px;
  height: 40px;
  background-size: cover;
  background-position: center;
}
.budget-icon {
  background-image: url(../img/paper-bill.png);
}
.expense-icon {
  background-image: url(../img/credit-card.png);
}
.balance-icon {
  background-image: url(../img/dollar-symbol.png);
}
@media (min-width: 512px) {
  .info {
    height: 159px;
  }
  .item h6 {
    font-size: 1.8rem;
    padding: 0;
  }
  .item p {
    font-size: 1.8rem;
    padding: 0;
  }
  .budget-icon,
  .expense-icon,
  .balance-icon {
    width: 50px;
    height: 50px;
  }
}
/* Forms */
.budget-feedback,
.expense-feedback {
  display: none;
}
.budget-form,
.expense-form {
  padding: 1rem;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  transition: all 0.3s;
}
.expense-form {
  position: sticky;
  top: 2rem;
}
.budget-form {
  border: 0.15rem solid var(--green);
}
.expense-form {
  border: 0.15rem solid var(--red);
}
.expense-input,
.amount-input,
.budget-input {
  margin: 0.5rem 0 1rem;
  display: block;
  width: auto;
  background-color: var(--white);
  border: 1px solid var(--dark);
  border-radius: 0.2rem;
  font-size: 1rem;
  color: var(--dark);
  padding: 0.5rem 1rem;
}
.budget-submit,
.expense-submit {
  display: inline;
  background: transparent;
  padding: 0.5rem 1rem;
  text-align: center;
  border-radius: 0.25rem;
  transition: all 0.3s;
}
.budget-submit {
  width: 100px;
  border: 0.1rem solid var(--green);
  color: var(--green);
}
.budget-submit:hover {
  background-color: var(--green);
  color: #fff;
}
.expense-submit {
  width: 130px;
  border: 0.1rem solid var(--red);
  color: var(--red);
}
.expense-submit:hover {
  background-color: var(--red);
  color: #fff;
}
.budget-submit:active,
.expense-submit:active {
  transform: scale(0.9);
}

/* tabla */
.table-content {
  border-collapse: collapse;
  min-width: 400px;
  overflow-x: auto;
  border-radius: 0.25rem 0.25rem 0 0;
  overflow: hidden;
}
.table-header .cell {
  background-color: var(--blue);
  color: #fff;
}
.cell {
  padding: 12px 15px;
  text-align: left;
  font-size: 19px;
}
.table-body .cell {
  border-bottom: 1px solid #dddddd;
  color: var(--dark);
}
.table-body tr:nth-of-type(even) {
  background-color: #dbdbdb;
}
.table-body tr:last-of-type {
  border-bottom: 2px solid var(--blue);
}
.icons-action {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-delete,
.icon-edit {
  display: block;
  width: 15px;
  height: 15px;
  background-size: cover;
  background-position: center;
}
.icon-delete {
  background-image: url(../img/remove-symbol.png);
}
.icon-edit {
  background-image: url(../img/edit-interface-sign.png);
  margin-right: 1rem;
}
@media (min-width: 512px) {
  .icon-delete,
  .icon-edit {
    width: 19px;
    height: 19px;
  }
}
/* Case */
.showCorrect {
  color: var(--green);
}
.showDanger {
  color: var(--red);
}
.showNormal {
  color: var(--dark);
}
.showItem {
  display: block;
  padding: 19px;
  background-color: var(--red-lite);
  color: #fff;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
}
